//Colors
$primary_color: #1e1e2b;
$secondary_color: #fff;

$x_color_blue: #428dff;
$color_alpha: $x_color_blue;

$x_color_gray: #3d3f48;
$color_beta: $x_color_gray;

$x_color_red: #ff4242;
$color_gamma: $x_color_red;

$x_color_pattensBlue: #d7e5e9;
$color_delta: $x_color_pattensBlue;

$x_color_dodgerBlue: #008eff;
$color_epsilon: $x_color_dodgerBlue;



//Font-size
$primary_size: 24px;

$size_alpha: 14px;

$size_beta: 12px;

$size_gamma: 16px;

$size_delta: 18px;

$size_big: 130px;

$size_big_2: 72px;

$size_big_3: 48px;

$size_big_4: 44px;

$size_big_5: 36px;

$size_big_6: 30px;


//Font-weight
$primary_weight: 700;

$secondary_weight: 400;

//Font-family
$primary_font: 'Circe Regular', sans-serif;

$font_alpha: "Circe Extra Bold", sans-serif;

$font_gamma: 'Circe Bold', sans-serif;

$font_beta: 'Futura PT Book', sans-serif;

$secondary_font: "Futura PT Bold", sans-serif;

// Media screen
$maxwidth: 1300px;
$md1: 1200px;
$md2: 991px;
$md3: 768px;
$md4: 480px;
$minwidth: 359px;

