@import "vars";
@import "libs";
@import "fonts";
@import "blocks/_header.scss";
@import "blocks/_about.scss";
@import "blocks/_section.scss";
@import "blocks/_contact.scss";
@import "blocks/_service.scss";
@import "blocks/_tabs.scss";

body {
    color: $primary_color;
    font-size: $primary_size;
    font-weight: $primary_weight;
    font-family: $primary_font;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.logo {
    color: $color_alpha;
    font-family: $secondary_font;
    span {
        color: $secondary_color;
    }
}

.btn {
    color: $secondary_color;
    font-family: $font_alpha;
    font-size: $size_gamma;
    font-weight: $secondary_weight;
    text-transform: uppercase;
    background-color: #ff4242;
}

@media(max-width: $md3) {
    .logo {
        font-size: 22px;
    }
}

@media(max-width: $minwidth) {
    .logo {
        font-size: 18px;
    }
}