.section {
	&__item {
		margin-bottom: 50px;
		display: flex;
		align-items: center;
	}
	&__item-title {
		margin-right: 35px;
		font-size: $size_big_4;
		line-height: 100px;
		text-transform: uppercase;
	}
	&__item-img {
		display: block;
		width: 100%;
		max-width: 75px;
	}
}

@media(max-width: $md1) {
	.section {
		&__item-title {
			margin-right: 25px;
			font-size: 38px;
			line-height: 90px;
		}
	}
}

@media(max-width: $md2) {
	.section {
		&__item-title {
			font-size: 34px;
			line-height: 60px;
		}
	}
}

@media(max-width: $md3) {
	.section {
		&__item-title {
			margin-right: 15px;
			font-size: 28px;
			line-height: 40px;
		}
		&__item-img {
			max-width: 55px;
		}
	}
}

@media(max-width: 600px) {
	.section {
		&__item-title {
			font-size: 24px;
			line-height: 36px;
		}
		&__item-img {
			max-width: 40px;
		}
	}
}

@media(max-width: $md4) {
	.section {
		&__item-title {
			text-align: center;
		}
		&__item-img {
			display: none;
		}
	}
}

