.section {
	&__item-wrapper {
		display: flex;
		align-items: center;
	}
	&__item-title {
		font-family: $secondary_font;
		margin-right: 35px;
		font-size: $size_big_4;
		line-height: 80px;
		text-transform: uppercase;
	}
	&__item-img {
		display: block;
		width: 100%;
		max-width: 75px;
	}
}

@media(max-width: $md1) {
	.section {
		&__item-title {
			margin-right: 25px;
			font-size: 38px;
		}
	}
}

@media(max-width: $md2) {
	.section {
		&__item-title {
			margin-right: 15px;
			font-size: 32px;
			line-height: 52px;
		}
	}
}

@media(max-width: $md3) {
	.section {
		&__item-title {
			margin-right: 10px;
			font-size: 22px;
			line-height: 30px;
		}
		&__item-img {
			max-width: 55px;
		}
	}
}

@media(max-width: 600px) {
	.section {
		&__item-title {
			font-size: 24px;
			line-height: 36px;
		}
		&__item-img {
			max-width: 40px;
		}
	}
}

@media(max-width: $md4) {
	.section {
		&__item-title {
			margin-right: 0;
			text-align: center;
		}
		&__item-img {
			display: none;
		}
	}
}

